/* Estilos generales del cuerpo de la página */
body {
  font-family: 'MiFuentePersonal'; /* Fuente del texto */
  font-weight: lighter;                     /* Grosor de la fuente */
  font-style: normal;                       /* Estilo normal, sin cursiva */
  background-color:var(--color-fondo);                /* Color de fondo claro */
  text-align: center;                       /* Centra el contenido por defecto */
  font-size: larger;
  background-image: url("/assets/images/fondoinicio.jpg");     /* Ruta a la imagen */
  background-size: cover;                  /* Escala para cubrir toda la pantalla */
  background-repeat: no-repeat;            /* No repetir la imagen */
  background-position: center center;      /* Centrada */
}

/* Encabezado principal */
h1 {
  font-family: 'TituloEspecial', serif;  /* Fuente decorativa para títulos */
  color:var(--color-texto);                          /* Color del texto */
  font-weight: bold;                       /* Texto en negrita */
  font-size: 300%;                         /* Tamaño grande */
  text-align: center;                      /* Centrado horizontal */
  margin-top: 30px;                        /* Espacio arriba */
  margin-bottom: 30px;                     /* Espacio abajo */
}

/* Subtítulos */
h2 {
  font-family: 'TituloEspecial', serif;
  color: var(--color-texto);
  font-size: 300%;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}



/* Ajustes visuales generales para imágenes y videos */
img, video {
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* sombra suave debajo */
}

/* Estilo para párrafos */
p {
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--color-texto);
}

strong {
  color: var(--color-texto-strong);
}

/*foto grande inicio*/
.foto-perfil {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

/*aplica texto del inicio*/
.perfil-info {
  flex: 1;
  text-align: center; /* Centra el texto dentro del bloque de texto */
}

/*aplica imagenes pequeñas del inicio*/
.galeria-imagenes {
  display: flex;
  justify-content: center; /* Centra las imágenes dentro del bloque */
  gap: 0.8rem;
  flex-wrap: wrap;
}

.galeria-imagenes img {/*caracteristicas de cada imagen pequeña*/
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.linea {
  border: none;
  height: 2.5px;
  background-color: var(--color-linea); /* Color de la línea */
  margin: 50px ;       /* Espacio arriba y abajo */
  width: 85%;              /* Control del ancho */
}




/* Responsive para móviles */
@media (max-width: 768px) {
  .foto-perfil {
    flex-direction: column;
    align-items: center;
  }

  .perfil-info {
    text-align: center;
  }

  .galeria-imagenes {
    justify-content: center;
  }
}