/* Estilos básicos */
body {
	font-family: Arial, sans-serif;
	background-color: #A9A9A9;
	margin: 0;
	padding: 0;
}

h1  {
	color: #008B8B;
    font-weight: bold;
    font-size: 300%;
    text-align: center;
}
h2,
h3
section {
	color: #2F4F4F;
    font-size: 100%;

}
image {
	size: 10px;

}