/* Disposición de columnas para móviles (hasta 768px) */
@media (max-width: 768px) {
    .foto-perfil {
      flex-direction: column;   /* Cambia de fila a columna */
      align-items: center;
    }
  
    .perfil-info {
      text-align: center;
    }
  
    .galeria-imagenes {
      justify-content: center;
    }
  }
  
  /* Estilo responsive del menú para móviles (hasta 600px) */
  @media (max-width: 600px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
      border-radius: 50px;
      padding: 10px 20px;
      width: 90%;
    }
  
    .menu-icon {
      display: block; /* Mostrar icono hamburguesa */
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      border-radius: 20px;
      margin-top: 10px;
    }
  
    #toggle-menu:checked + .menu-icon + .nav-links {
      display: flex; /* Mostrar enlaces cuando se pulsa el icono */
    }
  
    .nav-links li a {
      padding: 10px;
    }
  }